:root {
  //COLORS
  --color-primary: hsl(158, 36%, 37%); //Dark Cyan
  --color-secondary: hsl(30, 38%, 92%); //Cream

  --color-dark-blue: hsl(212, 21%, 14%); //very dark-blue
  --color-gray-blue: hsl(228, 12%, 48%); //dark grayish-blue
  --color-white: hsl(0, 0%, 100%); //White

  //FONTS
  --font-primary: "Montserrat", sans-serif;
  --font-heading: "Fraunces", serif;
}
