.btn {
  &:link,
  &:visited {
    font-size: 1.4rem;
    font-weight: 700;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    text-wrap: nowrap;
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--color-primary);
    padding: 1.5rem 3rem;
    width: 100%;
    transition: background-color 0.2s;
  }

  &:hover,
  &:active {
    background-color: hsl(158, 36%, 20%);
  }
}
